@page
@model IEnumerable<ShoppingList.Models.ShoppingItem>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
